<mat-list role="list" *ngIf="tournament != null">
  <mat-list-item role="listitem">
    Date: {{ tournament.date | date: "yyyy-MM-dd" }}
  </mat-list-item>
  <mat-list-item role="listitem"> State: {{ tournament.state }} </mat-list-item>
  <mat-list-item role="listitem">
    Round: {{ tournament.roundIndex }}
  </mat-list-item>
</mat-list>

<button
  [disabled]="
    tournament != null && tournament.state != tournamentState.INITIALIZING
  "
  mat-raised-button
  color="primary"
  (click)="startTournament(tournament.id)"
>
  Start
</button>
<button
  [disabled]="
    tournament != null && tournament.state != tournamentState.IN_PROGRESS
  "
  mat-raised-button
  color="primary"
  (click)="startNextRound(tournament.id)"
>
  Next Round
</button>
<button
  [disabled]="
    tournament != null && tournament.state != tournamentState.IN_PROGRESS
  "
  mat-raised-button
  color="primary"
  (click)="finishTournament(tournament.id)"
>
  Finish
</button>
