<div
  *ngIf="
    tournament != null &&
    tournament.roundIndex != null &&
    tournament.state != tournamentState.DONE &&
    tournament.roundIndex != 0
  "
>
  <h2>Round {{ tournament.roundIndex }}</h2>
  <table>
    <tr *ngFor="let match of matchesCurrentRound">
      <td>
        {{ match.playerName1 }}
      </td>
      <td>
        <mat-form-field class="match-input-left">
          <mat-label>Wins {{ match.playerName1 }}</mat-label>
          <label>
            <input
              matInput
              type="number"
              min="0"
              max="2"
              [(ngModel)]="match.winsPlayer1"
            />
          </label>
        </mat-form-field>
      </td>
      <td>:</td>
      <td>
        <mat-form-field class="match-input-right">
          <mat-label
            >Wins
            {{
              match.playerName2 == null ? "None" : match.playerName2
            }}</mat-label
          >
          <label>
            <input
              matInput
              type="number"
              min="0"
              max="2"
              [(ngModel)]="match.winsPlayer2"
            />
          </label>
        </mat-form-field>
      </td>
      <td>
        {{ match.playerName2 == null ? "None" : match.playerName2 }}
      </td>
    </tr>
  </table>
  <button mat-raised-button color="primary" (click)="enterMatchResults()">
    Save
  </button>
</div>

<div
  *ngFor="
    let roundToMatchesEntry of matchesPreviousRounds | keyvalue: keyDescOrder
  "
>
  <h2>Round {{ roundToMatchesEntry.key }}</h2>
  <table>
    <tr *ngFor="let match of roundToMatchesEntry.value">
      <td>
        {{ match.playerName1 }}
      </td>
      <td>{{ match.winsPlayer1 }} : {{ match.winsPlayer2 }}</td>
      <td>
        {{ match.playerName2 == null ? "None" : match.playerName2 }}
      </td>
    </tr>
  </table>
</div>
