<mat-tab-group animationDuration="0ms">
  <mat-tab label="Overview">
    <app-tournament-overview
      [tournament]="tournament"
      (tournamentChangeEvent)="onTournamentChangedEvent($event)"
    >
    </app-tournament-overview>
  </mat-tab>
  <mat-tab label="Players">
    <app-tournament-players [tournament]="tournament"></app-tournament-players>
  </mat-tab>
  <mat-tab label="Matches">
    <app-tournament-matches [tournament]="tournament"></app-tournament-matches>
  </mat-tab>
  <mat-tab label="Standings">TBA</mat-tab>
</mat-tab-group>
