<mat-tab-group animationDuration="0ms">
  <mat-tab label="Overview">
    <app-tournament-overview
      [tournament]="tournament"
      (tournamentChangeEvent)="onTournamentChangedEvent($event)"
    >
    </app-tournament-overview>
  </mat-tab>
  <mat-tab label="Players">
    <app-tournament-players [tournament]="tournament"></app-tournament-players>
  </mat-tab>
  <mat-tab label="Matches">
    <app-tournament-matches
      [tournament]="tournament"
      (matchesChangedEvent)="onMatchesChangedEvent()"
    ></app-tournament-matches>
  </mat-tab>
  <mat-tab label="Standings">
    <app-tournament-standings
      [tournament]="tournament"
      [matchesChangedCounter]="matchesChangedCounter"
    ></app-tournament-standings>
  </mat-tab>
</mat-tab-group>
